* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F2F6F9;
  display: flex;
  flex-direction: column;
}

header {
  height: 60px;
  background: linear-gradient(to right, #b92b27, #1565c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  overflow: hidden;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  line-height: 60px;
  font-weight: 100;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
}
.user-info span {
  margin-right: 10px;
}
.user-info canvas {
  border-radius: 25px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.fallback {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.projects.greyed {
  opacity: 0.5;
}
.project {
  margin-bottom: 10px;
}
.project.open {
  padding: 10px;
  background-color: #fafafa;
}
.project-strip {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 10px;
}
.project-strip:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.project.open .project-strip {
  padding: 0;
}
.project-info {
  display: flex;
  flex-direction: row;
}
.project-img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 20px;
}
.project-details {
  display: flex;
  flex-direction: column;
}
.project-desc {
  width: 500px;
  margin-bottom: 5px;
}
.project-meta {
  font-weight: 100;
  font-size: 13px;
}
.project.open .project-extra {
  display: block;
}
.project-extra {
  display: none;
  padding: 10px;
}
.project-extra, .project-extra h3 {
  font-weight: 100;
}
.project-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.project-in-progress {
  background-color: white;
  padding: 10px;
}

.create-project label {
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.create-project input {
  width: 350px;
}
.project-freelancer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #faebd7;
  padding: 0 15px;
  justify-content: space-between
}
.project-freelancer div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.project-freelancer button {
  margin-left: 10px;
  border-width: 2px;
  padding: 5px;
}
.project-freelancer canvas {
  margin-right: 10px;
}
.project-freelancer code {
  font-size: 14px;
}

.button {
  cursor: pointer;
  border: 3px solid #aaa;
  padding: 10px;
  color: #666;
  font-weight: 500;
  transition: 250ms;
  outline: 0;
}
.button:hover {
  opacity: 0.6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
